{% extends "_base.html" %}

{% block links %}
{% load static %}
<script src="{% static 'js/table.js' %}"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock links %}

{% block content %}


<div class="col">
  <a href="{% url 'stations:fuel-update' fuel.pk %}" class="btn btn-warning">Update</a>
  <a href="{% url 'stations:fuel-delete' fuel.pk %}" class="btn btn-danger">Delete</a>
  <h3>{{ fuel.name }}</h3>
  <h3>{{ fuel.price }}</h3>
</div>


{% endblock content %}